<!-- PÁGINA DE CONFIRMAÇÃO PARA DELETAR POSTAGEM -->
{% load static %}

<!-- <div class="black-background"> -->
<div id="modal-delete" class="modal-containerdelete">
      <div class="modaldelete">
          <div>
          </br>
          <h1 class='tituloft'>Confirmação</h1>
          </br></br>
                <div class="containerft">
                    <p class='fraseft' id="postagem"></p>
                    </br></br></br>
                    <button class="butaocancelar" type="button" id="fechar"> Cancelar</button>
                    <button onclick="Delete()" class="butaoft" type="submit" value="Apagar">Apagar</button>
                </div>
          </div>
      </div>
  </div>
<!-- </div> -->

  <script>
    var forumIdnovo;
      
    function Delete(){
      const url = `/deletar-forum/${forumIdnovo}`;
      window.location.href=url;
    }
    
    function openDelete(forumId,postagem){
      const modal = document.getElementById('modal-delete');
      modal.classList.add('mostrar');
      forumIdnovo=forumId;
      
      modal.addEventListener('click', (e) =>{
          if (e.target.id == 'modal-delete' || e.target.id == "fechar"){
              modal.classList.remove('mostrar');
              localStorage.fechaModal = 'modal-delete';
          }
      })
      document.getElementById('postagem').innerText = `Deseja mesmo apagar "${postagem}"?`;
  }
    

  </script>



  <style>

    .black-background{
      width:100%;
      height:100%;
      background-color:#000000;
      display: none;
    }

    .modal-containerdelete{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        align-items: center;
        justify-content: center;
        display: none;
        background-color: #000000A0;
        font-family:sans-serif;
    }

    .modaldelete{
        width: 50%;
        min-width:400px;
        min-height: 200px;
        padding: 50px;
        background-color: #272c52FA;
        border-radius: 15px;
        border: 3px solid #ff80b3;
    }

    .modal h1{
        margin-bottom: 20px;
    }

    .modal-containerdelete.mostrar{
        display: flex;
    }

    .tituloft{
      text-align: center;
      color: white;
      font-size:40px;
    }

    .containerft{
      text-align: center;
      color:white;
    }

    .fraseft{
      font-size:20px;
    }

    .butaoft{
        width: 170px;
        height: 50px;
        padding: 5px 20px;
        font-size: 17px;
        border: 0px solid #deebff;
        border-radius: 50px;
        font-family:sans-serif; 
        background-color: #ff80b3;
        text-align:center;
        color:white;
        border: 2px #fff solid;

      }

      .butaoft:hover{
        background-color: #FFB6C1;
        cursor: pointer;
      }

      .butaocancelar{
        border-radius: 50px;
        transition: 0.25s ease-in-out;
        cursor: pointer;  
        background-color: #272c52E8;
        color:#ff80b3;
        font-family:sans-serif;
        text-decoration:none;
        width: 170px;
        height: 50px;
        padding: 5px 20px;
        font-size: 17px;
        box-sizing: border-box;
        border: 2px #ff80b3 solid;
        margin-right:10px;

      }

      .butaocancelar:hover{
        color:white;
        cursor: pointer;
      }
    

</style>

