<!-- PÁGINA DE CONFIRMAÇÃO PARA DELETAR POSTAGEM -->
{% load static %}

<div id="modal-editar" class="modal-containereditar">
    <div class="modaleditar">
          <div>

          <form action="{%url 'editar-forum' -1%}" method="POST" id="edit_form">{% csrf_token %}
          </br>

          <div class="" style="display: flex;align-items:center;margin-bottom:80px;">

          <input class='caixaTitulo' type="text" name="title"style="font-family:sans-serif;font-size:25px;" placeholder="" id="titulo_post"/>

          </br></br></br>

          </div>

          <input type="hidden" name="text" id="quill_content" value="">
          <div id="editor-container" style="height: 200px;"></div>

          <div id="editor"></div>

          <div class='criar'>
          <input class='bntCriar' id="Criar" type="submit" value="Salvar Mudanças"/>
          </div>

          </form>
          </div>

    </div>
</div>


<script>
    var actionUrl;
    var quill;

    function openEditar(forumId, forumTit, forumText) {
        const modal = document.getElementById('modal-editar');
        modal.classList.add('mostrar');
      
        actionUrl = `{% url 'editar-forum' 9999 %}`.replace('9999', forumId);
        document.getElementById('edit_form').action = actionUrl;

        document.getElementById('titulo_post').value = `${forumTit}`;
      
        quill = new Quill('#editor-container', {
            theme: 'snow',
        });
        quill.clipboard.dangerouslyPasteHTML(forumText);

        modal.addEventListener('click', (e) => {
            if (e.target.id == 'modal-editar' || e.target.id == "fechar") {
                modal.classList.remove('mostrar');
                localStorage.fechaModal = 'modal-editar';
            }
        });
    }

    document.getElementById('edit_form').addEventListener('submit', function () {
        var quillContent = quill.root.innerHTML;
        document.getElementById('quill_content').value = quillContent;
    });
</script>

  <style>

    .modal-containereditar{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .modaleditar{
        width: 60%;
        min-width:400px;
        min-height: 200px;
        background-color: #6172aa;
        padding: 50px;
        border-radius: 10px;
    }


    .modal-containereditar.mostrar{
        display: flex;
    }

    .barra{
      background-color: #212c59;
      color: white;
      font-size: 20px;
      font-family: sans-serif;
      text-align:center;
    }

    .caixaTitulo{
      border: none;
      border-radius: 15px;
      height: 50px;
      width: 500px;
      /* margin-bottom:30px; */
      margin-right:200px;
      padding-left:20px;
      background-color: #e0e9f0;
    }

    .caixaText{
      border: none;
      border-radius: 15px;
      height: 30%;
      width: 60%;
    }

    .input{
      text-align:center;
      margin: 5%;
    }

    .bntCriar{
      text-align:center;
      height: 7%;
      width: 14%;
      font-size: 25px;
      border-radius: 50px;
      border: 2px #ff80b3 solid;
      transition: 0.25s ease-in-out;
      cursor: pointer; 
      background-color: #272c52E8;
      color:#ff80b3;
      font-family:sans-serif;
    }
    .bntCriar:hover{
      color:white;
        cursor: pointer;
    }

    .criar{
      text-align:center;
    }

    .input_title{
      font-family:sans-serif;
      color:#ff80b3;
      margin-top:40px;
    }

    #id_tags{
      appearance: none;
      font-family:sans-serif;
      font-size:16px;
      height:46px;
      padding:0 35px 0 15px;
      background-color:#e0e9f0;
      border-radius:20px;
      border:0px #e0e9f0 solid;
    }
    #id_title{
      background-color:var(--puckly);
    }
    #editor-container{
      background-color:white;

      /* border: 05px solid black;
      width:70%;
      margin:20px */
      height:300px;
      margin-bottom:30px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border: 10px solid #e0e9f0;
      border-top: 0px solid #e0e9f0;
    }
    .ql-toolbar.ql-snow {
      box-sizing: border-box;
      font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      padding: 8px;
      border: 10px solid #e0e9f0;
      background-color:#e0e9f0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    #Criar{
        font-family: sans-serif;
        width: 220px;
        font-size: 18px;
        font-weight: 600;
        padding: 15px;
        outline: none;
        text-align:center;
        border-radius: 50px;
        border: 2px #ff80b3 solid;
        transition: 0.25s ease-in-out;
        cursor: pointer;  
        background-color: #272c52E8;
        color:#ff80b3;
    }
    #Criar:hover {
       color:white;
        cursor: pointer;
    }

</style>

