<!--Estou com aideia de tirar o rodapé da pagina incial ja que vai ter os botoes-->
<!--
<footer class="rodape">
    <div style="height:150px; width:100%; background-color: rgba(52, 66, 115, 0.781) ;position:absolute;top:130%;">
      <div class="menu-footer">
        <div id='linkspuc'>
              <p id='pucrio'>PUC-Rio</p>
              <a id='eadpuc' href="https://ead.puc-rio.br/loginccead/">EAD PUC-Rio</a>
        </br> </br>
              <a id='saupuc' href="https://www.puc-rio.br/puconline/#">SAU PUC-Rio</a>
        </div>
        <div id='aGente'>
              <p id='conosco'>Fale conosco</p>
              <a id='contato' href="mailto:pucly@DI.puc-rio.br">Email</a>
        </div>
      </div>
    </div>
</footer> 
<style>

.menu-footer{
  margin-top: 1%;
}
  
#linkspuc{
  position: absolute;
  left: 3%
}

#aGente{
  position: absolute;
  left: 15%;
}
  
#pucrio{
  color: white;
}

#conosco{
  color: white;
  border-radius:  5px;
}

a{
  color: #ff80b3;
}

a:hover{
  font-size: 17px;
  color:#ff00ea;
}

p{
  font-size:20px;
}
  
</style>
-->