{% load static %}
{% load timesince_pt %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/logo.png' %}"/>
    <link rel="stylesheet" href="{% static 'style/text.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/images.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/buttons.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/fundo.css' %}"/>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

</head>

<body class="default-body home-body">
  
{% include 'navbar.html' %} 

{%include  'carrossel.html' %}
    
<div class="home-container">
  
<div></div>
  
<!-- CAIXAS DÚVIDA -->
<div>   
  {% for forum in forums %}
  <div class='caixa-duvida-home caixa-azul'>
    <div class="flex-align justify-space">
    <div class="flex-align">
    {%if not forum.anonimo%}
    <a href="{%url 'profile' forum.host.id%}">
    <img  class="caixa-duvida-pp ppimage" src="{{forum.host.profile.profile_picture.url}}" alt="profile picture">
    </a>
    <a class='size-17 pinklink' href="{% url 'profile' forum.host.id %}"><strong><span class='pointercursor site-font'>{{forum.host}}</span></strong></a>
    {%else%}
    <img  class="caixa-duvida-pp ppimage" src="{% static 'images/anonimopp.png' %}" alt="profile picture">
    <strong><span class="nocursor site-font pinktext">Anônimo</span></strong>
    {%endif%}
    </div>
    {%if request.user != forum.host%}
    <a href="{% url 'resposta' forum.id %}" class="nodecoration">
    <button class='pink-main-button home-answer-button'>
    <strong>
    Responder
    </strong>
    </button>
    </a>
    {%endif%}
    </div>
    <div class="flex-align justify-space">
    <a class='whitelink' href="{% url 'forum' forum.id %}"><h3 class="duvida-title-home site-font whitetext">{{forum.title}}</h3></a>
    </div>
    <p class="whitetext site-font">{{forum.text.plain|safe|truncatechars:250}}</p>
    {% for tag in forum.tags.all %}
    <a href="{%url 'home'%}?q={{tag}}" class="pinklink"><small class="site-font">{{tag}}</small></a>
    <small><strong> | </strong></small>
    {% endfor %}
    <small class='site-font whitetext nocursor'>há {{forum.created|timesince_pt}}</small>
    {% if request.user == forum.host %}
    <button class='pink-main-button edit-delete-button' onclick="openDelete('{{forum.id}}','{{forum.title}}')">Deletar</button>
    <!-- <button class='pink-main-button edit-delete-button' onclick="openEditar('{{forum.id}}','{{forum.title}}','{{forum.text.html}}')">Editar</button> -->
    {% endif %}
    <hr class="better-hr caixa-duvida-hr">
  </div>
  </br>
  {% endfor %}
</div>

<!-- RANKING -->
<div style="padding-left:50px;">
  <div class="caixa-azul caixa-ranking">
  <div class="flex-align justify-center">
  <img  class="brain-image" src="{% static 'images/brain.png' %}" alt="brain picture">
  <h1 class="site-font text-center whitetext">Ranking</h1>
  </div>
  <hr class="better-hr ranking-hr">
  <div style="margin-left:65px;margin-right:70px;margin-top:30px">
  {%for profile in profiles%}
  {%if profile.verified%}
  <div class="flex-align justify-space" style="margin-top:10px;">

  <div class="flex-align">

  {%if forloop.counter == 1%}
  <img  class="medal-image" src="{% static 'images/gold.png' %}" alt="medal">
  {%elif forloop.counter == 2%}
  <img  class="medal-image" src="{% static 'images/silver.png' %}" alt="medal">
  {%elif forloop.counter == 3%}
  <img  class="medal-image" src="{% static 'images/bronze.png' %}" alt="medal">
  {%endif%}
    
  <a href="{%url 'profile' profile.user.id%}">
  <img  class="ranking-pp ppimage" src="{{profile.profile_picture.url}}" alt="profile picture">
  </a>

  <strong>
  <a href="{%url 'profile' profile.user.id%}" class="whitelink">
  <div class="site-font whitetext left-text">
    {{profile.user}}
  </div>
  </a>
  </div>

  <div class="site-font whitetext right-text">
    {{profile.pontos}} pts
  </div>
  </strong>
    
  </div>
  {%endif%}
  {% endfor %}
  </div>
  </div>
  </div>

<div></div>
  
</div>
  {% include "deletar.html" %}
  {% include "editar.html" %}
</body>