{% load static %}
<div class="divTitulo">
   <script>
      $(window).scroll(function(){
          if ($(this).scrollTop() > 1 ){
              $('divTitulo').addClass("sticky");
          }
          else{
              $('divTitulo').removeClass("sticky");
          }
      }
  </script>
<div class="nav_content_container">

<a href="{%url 'home'%}">
<img  class="logo-imagem" src="{% static 'images/logo.png' %}" alt="logo site">
</a>
  
<div class="search_container">
<form action="{%url 'home'%}" method="get">
    <div>
    <input type="text" id="search" name="q" class="search_input" placeholder="Pesquise a sua dúvida...">
  
    <button type="submit" style="" class="hb">
    <img class="lupa" src="{% static 'images/lupa2.png' %}" alt="lupa pesquisa">
    </button>
    </div>
  <!-- <img  class="lupa" src="{% static 'images/lupa.png' %}" alt="lupa pesquisa"> -->
</form>
</div>


<a href="{% url 'forum-creation' %}" style="text-decoration:none;">
<button class='bntCriarDuvida'>
<strong>
<span style="color:#000;font-size: 25px;vertical-align: middle;margin-right: 5px;">+ </span> 
Criar Dúvida
</strong>
</button>
</a>

<div class="profileimg">
<a href="{%url 'profile' user.id%}">
<img  class="profile-imagem" src="{{request.user.profile.profile_picture.url}}" alt="profile picture">
</a>
</div>

<div>
<a href="{%url 'noti'%}">
{%if request.user.profile.unread_notifications%}
<img  class="notification-icon" src="{% static 'images/notification1.png' %}" alt="notifications">
{%else%}
<img  class="notification-icon" src="{% static 'images/notification0.png' %}" alt="notifications">
{%endif%}
</a>
</div>
  
</div>
</div>

<style>
  .lupa{
    height:30px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 36px;
    left: 56.8%;
    display: block;
  }

  .hb{
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }

  .profileimg{
    width: 50px;
    height: 50px;
    padding-left:20px;
}
.profile-imagem{
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50px;  
    border: 4px solid #4e5880;
}

.notification-icon{
    padding-left:20px;  
    width: 30px;
    /* border-radius: 50px;  
    border: 4px solid #4e5880; */
}

  .bntCriarDuvida{
  /* border-radius:5px;
  background-color: #FFB6C1;
  border:none; */
  display: flex;
  align-items: center;
  width: 170px;
  padding: 5px 20px;
  font-size: 16px;
  border: 0px solid #deebff;
  border-radius: 50px;
  font-family:sans-serif; 
  background-color: #ff80b3;
  text-align:center;
  box-sizing: border-box;
}

.bntCriarDuvida:hover {
   background-color: #FFB6C1;
    cursor: pointer;
}
  
  .search_container{
  text-align:center;
  padding-right:20px;
  padding-left:20px;
}
  
.search_input{
  width: 550px;
  padding: 10px;
  padding-left: 20px;
  font-size: 16px;
  border: 0px solid #deebff;
  border-radius: 50px;
  font-family:sans-serif;
  background-color: #f2f5fa;
}
  
  .logo-imagem{
    width: 60px;
    height: 60px;
}
  
  .divTitulo{
  background-color: #272c52E8;
  color: white;
  height:100px;
  width:100%;
  border-radius: 0 0 25px 25px;
  position: fixed;
  top: 0;
  z-index:1;
  }
  
  .nav_content_container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:200px;
  padding-right:200px;
  padding-top: 20px;
  font-family:sans-serif;
}
</style>